.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    display: inline-grid;
  }

#equals{
    grid-area: 3 / 4 / 7 / 5;
}

/*#zero{
    grid-area: 6 / 1 / 6 / 3;
}
*/
#expression{
    grid-area: 1 / 1 / 1 / 5;
}
