<h1>Bored API</h1>
<p>This api will give you an activity to do based on the criteria you select.</p>
<p>You can find to do based on the type, price, accessibility, or number of participants</p>

<h2>How To Use</h2>
<p>First select what to base the search off of</p>
<p>If you choose to search by the type simply select the type you want to search by</p>
<P>If you choose accessibility or price enter a number between 0 and 100</P>
<p>The higher the number the more pricey or less accessible it is</p>
<p>This number must be a multiple of 5 though</p>

<div class="buttonDiv">
    <a class="button" routerLink="/forms">Start</a>
</div>